/* -- seção habilidades -- */
.secao-habilidades {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    background-color: var(--bgColor-claro);
}

.habilidades {
    width: 80%;
    text-align: center;
    margin: 60px 0;
}

.habilidades h2 {
    font-size: 2rem;
    border-bottom: 3px solid #2563EB;
    display: inline;
    padding-bottom: 0.7rem;
    color: var(--colorText-2);
}

.habilidades section {
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2.75rem;
}

.habilidades section .cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.habilidades section .cards-second {
    justify-content: center;
    gap: 5rem;
}

.habilidades section .cards div {
    padding: 2rem;
    box-shadow: 0px 2px 3px var(--colorBorda);
    border-radius: .5rem;
}

.habilidades section .cards div p {
    color: var(--colorText-3);
    margin-top: 1rem;
    font-weight: 600;
}

/* responsividade */

@media (max-width: 560px) {
    .habilidades {
        width: 100%;
    }

    .habilidades section .cards {
        align-items: center;
    }

    .habilidades section .cards div {
        padding: 1rem;
        
    }

    .habilidades section .cards div, p {
        font-size: .8rem;
        
    }
}